* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    background-color: #F8EDEB;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

main {
    width: 67%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 20rem;
}

.profilePhoto {
    max-width: 35%;
    height: auto;
}

img {
    max-width: 30%;
    height: auto;
}

.bigImage {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    main {
        width: 98%;
    }
    
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {

}