/* General styling */

:root {
  --pink: #fec5bb;
  --lighter: #fcf6f5;
  --green: #d8e2dc;
  --darkorange: #fec89a;
  --dark: #172a3a;
}

html {
  font-size: 62.5%;
  color: var(--lighter);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--dark);
  font-size: 19px;
}

main {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  letter-spacing: 1rem;
  color: var(--lighter);
  font-size: 70px;
}

h2 {
  color: var(--lighter);
}

p {
  color: var(--lighter);
}

a {
  text-decoration: none;
  color: var(--lighter);
}

a:hover {
  color: var(--pink);
}

.pink {
  color: var(--pink);
}

/* Styling for the header and navigation */

header {
  scroll-snap-align: start;

  margin: 0 auto;
  padding: 4rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: var(--darkorange) 0.5rem solid;
}

header h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  font-weight: 700;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 35rem;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  position: relative;
  letter-spacing: 0.5rem;
  font-size: 19px;
}

nav ul li:hover {
  text-decoration: none;
  color: var(--pink);
}

/* Styling for the about content */

#about {
  min-height: calc(100vh - 146px);
}

#aboutContent h2 {
  font-size: 70px;
}

#aboutContent p {
  font-size: 30px;
  line-height: 40px;
}

.vectorContainer img,
.profilePhoto {
  max-width: 100%;
  height: auto;
  border-radius: 2em;
}

.vectorContainer,
.profilePhotoContainer {
  max-height: 100%;
}

/* Styling skills section */

#skills {
  scroll-snap-align: start;
  min-height: 100vh;
}

#skills h2 {
  font-size: 56px;
}

#skills ul {
  list-style: none;
}

#skills li {
  font-size: 19px;
  color: var(--lighter);
}

#skills li:hover {
  color: var(--pink);
}

.contactList img {
  padding-left: 0.5rem;
  background-color: var();
}

/* Styling for the works content */

#works {
  scroll-snap-align: start;
}

#works h2 {
  font-size: 56px;
}

#works h3 {
  color: var(--lighter);
  font-size: 30px;
}

figure {
  position: relative;
}

figure img {
  max-width: 100%;
  height: auto;
  border-radius: 2em;
}

figcaption {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: var(--dark);
  font-weight: 600;

  padding: 0.5em 1.5em;
  background-color: var(--darkorange);
  border-radius: 1em;
}

figure a:hover figcaption {
  background-color: #fec89a;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

/* Styling for the footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 4rem 2rem;

  text-align: center;
  border-top: var(--darkorange) 0.5rem solid;
}

/* Styling for different screen sizes */

@media screen and (max-width: 992px) {
  header h1 {
    font-size: 17px;
  }

  main,
  header,
  section,
  footer {
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
  }

  #works {
    min-height: fit-content;
  }
}
