* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    background-color: #F8EDEB;
    font-size: 1.5rem;
}

main {
    width: 67%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

/* Styling for the header and navigation */

header {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 25rem;
}

/* Styling for the about content */

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    max-width: 100%;
}

.profilePhotoContainer {
    flex-basis: 125%;
}

.aboutText {
    padding-left: 20px;
}

/* Styling for the works content */

img {
    max-width: 30%;
    height: auto;
}

.highlightedProject {
    max-width: 100%;
    height: auto;
}

/* Styling for different screen sizes */

@media screen and (max-width: 768px) {    
    main,
    header {
        flex-direction: column;
    }

    .aboutContent {
        display: block;
    }

    nav ul {
        min-width: 20rem;
    }
}

@media screen and (max-width: 992px) {
    .aboutContent {
        display: block;
    }
}